<section>
  <table class="border border-collapse table-auto w-full">
    <thead>
      <tr>
        <th
          class="bg-gray-50 border border-gray-200 px-6 py-4 text-xs text-left uppercase tracking-wider"
        >
          Nombre
        </th>
        <th
          class="bg-gray-50 border border-gray-200 px-6 py-4 text-xs text-left uppercase tracking-wider"
        >
          Descripción
        </th>
        <th
          class="bg-gray-50 border border-gray-200 px-6 py-4 text-xs text-left uppercase tracking-wider"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr *ngFor="let post of posts$ | async">
        <td
          class="border border-gray-200 px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-700"
        >
          {{ post.name }}
        </td>
        <td
          class="border border-gray-200 px-6 py-4 whitespace-nowrap text-sm text-gray-500"
        >
          {{ post.description }}
        </td>
        <td
          class="border border-gray-200 px-6 py-4 whitespace-nowrap text-sm font-medium"
        >
          <button
            class="text-red-500 hover:text-red-700"
            (click)="deletePost(post.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
